body{
	font-family: 'Poiret One', cursive;
}

#header{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	line-height: 50px;

	background-color: #AADDFF;
}

#title{
	position: relative;
	left: 40px;

	font-size: 25px;
}

#svgcontainer{
	position: fixed;
	top: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.resourceLabel{
	position: absolute;
	left: 20px;
	top: 200px;
	z-index: 20;
}

//SVG

.node_selected {
  stroke: #FF0;
}

.drag_line {
  stroke: #999;
  stroke-width: 5;
  pointer-events: none;
}

.drag_line_hidden {
  stroke: #999;
  stroke-width: 0;
  pointer-events: none;
}

.link {
  stroke: #999;
  stroke-width: 2;
  cursor: crosshair;
}

.link_selected {
  stroke: #ff7f0e;
}

//Node types
.node {
  fill: #999;
  cursor: crosshair;
}
.yellowbasic{
	fill: #FC0;
	cursor: crosshair;
}
.yellowadvanced{
	fill: #CA0;
	cursor: crosshair;
}
.yellowstorage{
	fill: #FE0;
	stroke: #A90;
	stroke-width:3;
}
.redbasic{
	fill: #F00;
	cursor: crosshair;
}

.redadvanced{
	fill: #C00;
	cursor: crosshair;
}

.bluebasic{
	fill: #00F;
	stroke: #44F;
	stroke-width:15;
	stroke-opacity: 0.5;
	cursor: crosshair;
}

.blueadvanced{
	fill: #00C;
	stroke: #44F;
	stroke-width:15;
	stroke-opacity: 0.5;
	cursor: crosshair;
}

.bluestorage{
	fill: #00E;
	stroke: #44F;
	stroke-width:15;
	stroke-opacity: 0.5;
}