body{
	font-family: 'Poiret One', cursive;
}

#header{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	line-height: 50px;

	background-color: #AADDFF;
}

#title{
	position: relative;
	left: 40px;

	font-size: 25px;
}

#svgcontainer{
	position: fixed;
	top: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.resourceLabel{
	position: absolute;
	left: 20px;
	top: 200px;
	z-index: 20;
}

//SVG

.node_selected {
  stroke: #FF0;
}

.drag_line {
  stroke: #999;
  stroke-width: 5;
  pointer-events: none;
}

.drag_line_hidden {
  stroke: #999;
  stroke-width: 0;
  pointer-events: none;
}

.link {
  stroke: #999;
  stroke-width: 2;
  cursor: crosshair;
}

.link_selected {
  stroke: #ff7f0e;
}

//Node types
.node {
  fill: #999;
  cursor: crosshair;
}
.storage{
	fill: #FA0;
	cursor: crosshair;
}
.collector{
	fill: #FA0;
	cursor: crosshair;
}
.net{
	fill: #999;
	cursor: crosshair;
}